.flow>*+* {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.callout {
  background: var(--color-primary-light);
  border: 1px solid black;
  padding: 1rem 3rem;
  position: relative;
  max-width: 40rem;
}

.callout::before {
  content: '';
  background-image: url('img/img.svg');
  background-size: cover;
  display: block;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  left: 1rem;
  top: 1rem;
}


.awesome {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  border: 5px solid;
  padding: 2rem;
  width: 320px;
}

.awesome[data-sizing="intrinsic"] {
  width: min-content;
}

.awesome {
  --flow-space: 2rem;
}

.toggle {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.toggle_element {
  position: absolute;
  opacity: 0;
}


.img_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar{
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  width: 100vw;
}

.bd-navbar{
  padding: .75rem 0;
  background-color: green;
}

section{
  margin-top: 100px;
}

.sticky-top{
  position: fixed;
  top: 0;
  z-index: 1000;
}